
  
}
#primair{
    display: none;

}
#gaming{
    display: block;
}
#luxe{
    display: none;
}
p{
    background-color: grey;
    color: black;
}
h2{
    color: red;
    background-color: black;
}
#image {
 height: 200px;
background-image: url(afbeeldingen/medium.jpg);
 background-position: center center;
    background-repeat: no-repeat;
}