
    
#primair{
    display: none;

}
#gaming{
    display: none;
}
#luxe{
    display: block;
}



p{
    background-color: white;
    color: grey
}
h2{
    background-color: grey;
    color: black;
}
#image {
 height: 200px;
background-image: url(afbeeldingen/groot.jpg);
 background-position: center center;
 background-repeat: no-repeat;
}